.contentwrapper{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows:auto;
    
}
.userinfobannerwrapper{
    grid-column: auto/span 16;
    display: flex;
    background-color: white;
    margin-bottom: 25px;
    padding:10px 10vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}
.examClientLogo{
    
}

.questionpaperandcontrolswrapper{
    grid-column: 2/span 9;   
}

.questionpaperview{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border:1px solid rgb(235, 237, 240);
}

.currentquestiontext{
    text-align: start;
}

.hrline{
    height:2px;
    width: 100%;
    background-color:rgb(235, 237, 240);
}

.optionstext{
    align-self: flex-start;
}

.questionpapercontrols{
    margin-top: 10px;
}

.questionanswerinformationwrapper{
    grid-column: 12/span 4;
}

.questionanswercount{
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    border:1px solid rgb(235, 237, 240);
}
.questionnotvisited{
    margin:10px;
    display: inline-block;
    width:25px;
    height:25px;
    background-color: #eee;
}
.questionanswered{
    margin:10px;
    display: inline-block;
    width:25px;
    height:25px;
    background-color: #adff2f;
}
.questionnotanswered{
    margin:10px;
    display: inline-block;
    width:25px;
    height:25px;
    background-color:#ffa39e;
}
.questioninreview{
    margin:10px;
    display: inline-block;
    width:25px;
    height:25px;
    background-color: #d3adf7;
}
.aligncenter{
    display: flex;
    align-items: center;
    
}

.questionanswernavigation{
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    overflow-y: scroll;
    background-color:white;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(235, 237, 240);
    align-content: flex-start;
}

.marginbottom{
    margin-bottom: 20px;
}

Button{
    margin: 5px!important;/*Override antd*/
}

input{
    margin-right: 7px;
}

/** Media Queries**/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .questionpaperandcontrolswrapper{
        grid-column: auto/span 16;   
    }

    .questionanswerinformationwrapper{
        grid-column: 2/span 14;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */